*{
    padding: 0;
    margin: 0;
}

.parentDiv{
    border: 1px solid red;
    width: 900px;
    height: 550px;
    margin: auto;
    display: flex;
    align-items: center;
    
}

.taskList{
    border: 1px solid red;
    width: 800px;
    height: 450px;
    margin: auto;
    
}

.addTask{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.tasks{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.pointer{
    cursor: pointer;
}

.justify-center{
    display: flex;
    align-items: center;
    
}

